.row{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-bottom: 12px;
  margin-left: -36px;
  width: $grid-width+36px;
}

.row:before, .row:after{
  content: "";
  display: table;
  clear: both;
}
