.container{
  position: relative;
  height: 800px;
}

.slider-image {
    display: none;
}
.slider .visible {
    display: inline-block;
}

#prevPicture, #nextPicture, #project-info {
  font-family: 'Inconsolata', monospace;
  height: 60px;
  width: 60px;
  font-size: 50px;
  position: absolute;
  display: block;
  background-color:white;
border: none;
outline: none;
}
#prevPicture {
    left: 0;
    bottom: 400px;
    color: black;
}

#nextPicture {
    right: 0;
    bottom: 400px;
    color: black;
}

#project-info{
  bottom: -61px;
  right: 0;
  color: black;
}
.project-description {
    height: 800px;
    visibility: hidden;
    position: absolute;
    top:0;
    opacity: 0;
    transform: translateX(-1em);
    transition: all 0.3s ease-in-out;
    right: -200px;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
}

#project-info:hover + .project-description {
  visibility: visible;
  transition: 1s;
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0s, 0s, 0.3s;
  right: 0;
}
