.slider {
    height: 800px;
    float: left;
    background-color: lightgrey;
    margin-left: 36px;
    position: relative;
}
.slider-image {
    display: none;
}
.slider .visible {
    display: inline-block;
}
#project-description {
    height: 800px;
    background-color: blue;
    float: right;
    display: none;
}
#prevPicture {
  height: 60px;
  width: 60px;
  border: 2px dotted black;
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  display: block;
  bottom: 400px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  outline: none;
}
#nextPicture {
    height: 60px;
    width: 60px;
    border: 2px dotted black;
    border-radius: 50%;
    font-size: 40px;
    position: absolute;
    display: block;
    bottom: 400px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    outline: none;
}
