.container{
  position: relative;
  height: 800px;
}

.slider-image {
    display: none;
}
.slider .visible {
    display: inline-block;
}
#project-description {
    height: 800px;
    background-color: blue;
    display: none;
    position: absolute;
    right: 439px;
}
#prevPicture, #nextPicture, #project-info {
  font-family: 'Inconsolata', monospace;
  height: 60px;
  width: 60px;
  font-size: 50px;
  position: absolute;
  display: block;
  background-color:white;
border: none;
outline: none;
}
#prevPicture {
    left: 0;
    bottom: 400px;
    color: black;
}

#nextPicture {
    right: 0;
    bottom: 400px;
    color: black;
}

#project-info{
  bottom: 0;
  right: 0;
  color: red;
}
