.office-image{
  height: 800px;
  background-color: lightgrey;
  float: left;
}


#office-description{
  height: 800px;
  background-color: #f2f2f2;
  float: right;
  text-align: justify;
  p{
    padding: 24px 24px 24px 24px;
    color: black;
    font-size: 14px;
  }
  span{
    font-weight: bold;
    color: red;
  }
}

#contact{
padding: 80px 24px 24px 24px;
  font-size: 14px;
  text-align: justify;
}
