.office{
  display: flex;
  flex-flow: row wrap;
}

.office-image{
flex: auto;
}

.office-description{
flex: auto;
  background-color: #f2f2f2;
  text-align: justify;
  p{
    padding: 24px 24px 24px 24px;
    color: black;
    font-size: 14px;
  }
  span{
    font-weight: bold;
    color: $hover-text;
  }
}
