.row-header {
    height: 70px;
}
.menu-horizontal {
    display: block;
    // -webkit-padding-start: 0px;
    list-style: none;
    overflow: hidden;
    float: right;
    padding-left:12px;
    >li {
        float: left;

        padding-left: 65px;
        &:first-child{
          padding-left: 0;
        }
        >a {
          line-height: 70px;
            text-decoration: none;
            color: black;
            font-size: 16px;

        }
        >a:hover {
            color: red;
        }
    }
}
.box-left {
    display: block;
    float: left;
    line-height: 70px;
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size:18px;
    }
    a:hover {
        color: red;
    }
    span{
      margin-left: -2px;
    }
}
.menu-vertical {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 6px 6px 6px;
    >a {
      text-decoration: none;
      padding-bottom: 4px;
        display: block;
        font-size: 16px;
        text-align: left;
        padding-top: 2px;
        color: black;
    }
    a:hover{
      color:red;
    }
}
.menu-horizontal li:hover .menu-vertical {
    display: block;
}
