//import funkcje/mixins

//grid
@import "reset.scss";
@import "global-variables.scss";
@import "header.scss";
@import "rows.scss";
@import "portfolio-gallery.scss";
@import "../projects/scss/style.scss";
@import "../about/scss/style.scss";



*{
  box-sizing: border-box;
  margin: 0 auto;
}
body {
    font-family: 'Inconsolata', monospace;
}
.grid-container{
  margin: 0 auto;
  width: 100%;
  max-width: $grid-width;
}

// pętla
$number-of-col:12;

@for $i from 1 through $number-of-col{
  $size:$grid-width*($i/$number-of-col);
  .col-#{$i}{
    width: ($size);
  }
}
