// pętla
$number-of-col:12;

@for $i from 1 through $number-of-col{
  $size:100%*($i/$number-of-col);
  .col-#{$i}{
    width: ($size);
  }
}

@media (max-width:467px){
  .col-4{
    width: 100%;
  }
}
@media(min-width:467px)and(max-width:920px){
  .col-4{
    width: 50%;
  }
}
