.portfolio-image {
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    // border: 3px solid white;
}
.portfolio-image img:hover {
    opacity: 0.6;
}

.image_title {
    position: absolute;
    background: white;
    height: 100%;
    bottom: 0;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    a {
      display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        top:50%;
        font-size: 18px;
        color:black;
        text-decoration: none;
    }
}
.portfolio-image:hover .image_title {
    opacity: 0.8;
}
