.portfolio-image {
    flex: auto;
    position: relative;
    margin-bottom: -3px;
}
.portfolio-image img:hover {
    opacity: 0.6;
}

.image_title {
    position: absolute;
    background: blue;
    height: 100%;
    bottom: 0;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    a {
        position: absolute;
        width: 100%;
        text-align: center;
        top:50%;
        font-size: 18px;
        color:black;
        text-decoration: none;
    }
}
.portfolio-image:hover .image_title {
    opacity: 0.7;
    a{
      color: white;
    }
}
